$blue: #3B81F5;
$pink: #F487A9;
$green: #85D5AF;
$white: #FFFFFF;
$yellow: #EADF43;
$offwhite: #B2CCEB;

html, body {
  background-color: $blue;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

body.playbook {
  #install {
    color: $white;
  }

  .github-corner > svg {
    fill: $pink;
    color: $blue;
  }
}

section#zazu {
  -webkit-app-region: drag;
  cursor: move;
  background-color: $green;
  position: relative;

  > div:before {
    content: "";
    display: block;
    height: 67px;
    width: 100%;
    background-color: $pink;
    background-image: url('../images/taco.png');
    background-position: 530px 10px;
    background-repeat: no-repeat;
    background-size: 60px;
    width: 600px;
    position: relative;
    z-index: 0;
  }

  input {
    outline: none;
    font-size: 40px;
    width: 500px;
    padding: 10px;
    border: 0;
    background-color: transparent;
    -webkit-app-region: no-drag;
    cursor: auto;
    position: absolute;
    top: 0;
    z-index: 1;
    color: $white;
    font-weight: 700;
  }

  input::-webkit-input-placeholder {
    color: $offwhite;
  }

  ul {
    padding: 0;
    margin: 0;
    max-height: 333px;
    overflow: scroll;

    li {
      display: block;
      height: 45px;
      line-height: 45px;
      -webkit-app-region: no-drag;
      cursor: pointer;
      background-color: $green;

      img {
        height: 30px;
        width: 30px;
        margin: 7.5px;
        float: left;
      }

      h2, h3 {
        margin: 0;
        padding-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 700;
        color: $white;
        font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
      }

      h2 {
        font-size: 20px;
        line-height: 25px;
        &:last-child {
          font-size: 20px;
          line-height: 45px;
        }
      }

      h3 {
        font-size: 15px;
        line-height: 15px;
      }

      &.active {
        background-color: $blue;
        &:nth-child(odd) {
          background-color: $yellow;
        }
      }
    }
  }
}
